<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>bin\$(Configuration)\$(TargetFramework)\$(RuntimeIdentifier)\publish\</PublishDir>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <UapAppxPackageBuildMode>StoreUpload</UapAppxPackageBuildMode>
    <AppxBundle>Always</AppxBundle>
    <AppxBundlePlatforms>x64</AppxBundlePlatforms>
    <AppxPackageDir>$(MSBuildProjectDirectory)\AppPackages\</AppxPackageDir>
    <AppxSymbolPackageEnabled>false</AppxSymbolPackageEnabled>
  </PropertyGroup>
</Project>
